@font-face {
    font-family: "Carena";
    src: url("../fonts/Carena-Regular.woff");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Carena";
    color: #664144 !important;
}

p {
    font-family: "Montserrat-Regular";
}

.bg-primary{
    background-color: #ECD3D3 !important;
}

.bg-secondary{
    background-color: #664144 !important;
}

.btn-primary{
    background-color: #664144 !important;
    border-color: #664144 !important;;
    color: #ECD3D3 !important;
}

.text-primary {
    color: #664144 !important;
}

.text-secondary {
    color: #ECD3D3 !important;
}

.text-justify{
    text-align: justify;
}

.navbar{
    padding: 4px 0;
}

@media (min-width: 1200px) {
    .navbar-nav {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-right: 316px;
    }
}
.navbar-dark .navbar-nav .nav-link{
    color: #BE807A !important;
    font-size: large;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    color: #ECD3D3 !important;
}

.btn-centrado{
    align-self: center;
}

.card{
    background-color: #FFFFFF;
    border: none;
    border-radius: 1.5rem;
}

.card-img-top{
    border-radius: 1.5rem 1.5rem 0 0;
}

.card-img-rounded{
    border-radius: 50%;
    margin: 1rem;
}

.rounded-start{
    border-radius: 1.5rem 0 0 1.5rem !important;
}

.col-align-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-decoration-none{
    text-decoration: none;
}