@font-face {
    font-family: "Carena";
    src: url("../fonts/Carena-Regular.woff");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Carena";
    color: #664144 !important;
}

h1{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

p, li, a {
    font-family: "Montserrat-Regular";
}

.bg-primary{
    background-color: #ECD3D3 !important;
}

.bg-secondary{
    background-color: #664144 !important;
}

.btn-primary{
    background-color: #664144 !important;
    border-color: #664144 !important;;
    color: #ECD3D3 !important;
}

.text-primary {
    color: #664144 !important;
}

.text-secondary {
    color: #ECD3D3 !important;
}

.text-justify{
    text-align: justify;
}

.navbar{
    padding: 4px 0;
}

@media (min-width: 1200px) {
    .navbar-nav {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-right: 266px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-right: 0;
    }
}

.navbar-dark .navbar-nav .nav-link{
    color: #BE807A !important;
    font-size: large;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    color: #ECD3D3 !important;
}

.btn-centrado{
    align-self: center;
}

.card{
    background-color: #FFFFFF;
    border: none;
    border-radius: 1.5rem;
}

.card-img-top{
    border-radius: 1.5rem 1.5rem 0 0;
}

.card-img-rounded{
    border-radius: 50%;
    margin: 1rem;
}

.rounded-start{
    border-radius: 1.5rem 0 0 1.5rem !important;
}

@media (max-width: 992px){
    .img-suscribite {
        border-radius: 1.5rem 1.5rem 0 0 !important;
    }
}

@media (min-width: 993px){
    .img-suscribite {
        border-radius: 1.5rem 0 0 1.5rem !important;
    }
}

.col-align-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr{
    border: 1px solid #664144;
    opacity: 1;
    margin-block: 20px;
}

@media (max-width: 767px) { 
    .background-servicios{
        background-size: cover;
        width: 350px !important;
        min-height: 622px !important;
    }
}

@media (min-width: 768px) {
    .background-servicios{
        background-size: cover;
        width: 324px !important;
        min-height: 576px !important;
    }
}

@media (min-width: 992px) {
    .background-servicios{
        background-size: cover;
        width: 210px !important;
        min-height: 373px !important;
    }
}

@media (min-width: 1200px) {
    .background-servicios{
        background-size: cover;
        width: 255px !important;
        height: 453px !important;
    }
}